*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: max-content;
    min-height: max-content;
    width:400px;
    background-color: rgb(30,35,41);
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .bloc_tabs {
    display: flex;
    justify-content: center;
  }
  .tabs {
    margin-top:10px;
  
    padding: 7px 0px;
    text-align: center;
    width:33%;

    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    color:#fefefe;
    box-sizing: content-box;
    position: relative;
    outline: none;
    border-radius: 6px;
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active_tabs  {
    background-color:rgb(237, 193, 50);
    color: #333;
    border-bottom: 1px solid transparent;
  }
  
  /* .active_tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(237, 193, 50);
  }
   */
  
  
  button {
    border: none;
    
  }
  